*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @include respond(tab-land-small) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }
}

.row {
  max-width: $row-width;
  margin: 0 auto;

  @include respond(phone-land) {
    padding: 0 5rem;
  }
}

.row-small {
  max-width: $row-small-width;
  margin: 0 auto;
}
