body {
  font-family: $font-main;
  font-weight: $f-regular;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
  color: $text-black;
}

.heading-primary {
  font-size: 7.2rem;
  font-weight: $f-regular;
  line-height: 7.8rem;
  letter-spacing: -2.8px;
  color: #000;
}

.heading-secondary {
  font-size: 5.4rem;
  font-weight: $f-regular;
  line-height: 6.8rem;
  letter-spacing: -1.8px;
  color: #000;
}

.description {
  margin-top: 2rem;
  font-family: $font-secondary;
  font-size: 2.2rem;
  opacity: 0.5;
  text-align: left;
}
