body {
  font-family: $font-main;
  font-weight: $f-regular;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
  color: $text-black;
}

.heading-primary {
  font-size: 7.2rem;
  font-weight: $f-regular;
  line-height: 7.8rem;
  letter-spacing: -2.8px;
  color: #000;
}
