.u-text-center {
  text-align: center;
}

.u-ml-3half {
  margin-left: 3.5rem;
}

.u-mt-2 {
  margin-top: 2rem;
}

.u-mt-3 {
  margin-top: 3rem;
}

.u-mt-15 {
  margin-top: 15rem;
}

.u-mb-5 {
  margin-bottom: 5rem;
}

.u-mb-6 {
  margin-bottom: 6rem;
}

.u-mb-8 {
  margin-bottom: 8rem;
}

.u-mb-10 {
  margin-bottom: 10rem;
}

.u-mb-12 {
  margin-bottom: 12rem;
}
