.cta {
  padding: 2rem 2rem 2rem 3rem;
  margin-right: -38rem;
  background-color: $color-secondary;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__dropdown {
    &:link,
    &:visited {
      color: #fff;
      text-decoration: none;
      font-size: 1.6rem;

      transition: all 0.3s;

      display: flex;
      align-items: center;
    }

    &:hover,
    &:active {
      color: $text-black;
    }
  }

  &__arrow {
    margin-left: 1.3rem;
  }

  &__map-pin {
    margin-right: 1rem;
  }
}
