.nav {
  flex: 1;

  &__list {
    list-style: none;
    margin-left: 8rem;

    display: flex;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    margin-right: 3.5rem;
  }

  &__link {
    &:link,
    &:visited {
      color: $text-black;
      text-decoration: none;
      font-size: 1.6rem;

      transition: all 0.3s;

      display: flex;
      align-items: center;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &__arrow {
    margin-left: 0.8rem;
  }

  &__button {
    display: none;
    border: none;
    background: transparent;
    z-index: 5000;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;

    @include respond(phone) {
      display: inline-block;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    margin: 0;
    fill: $text-black;
    font-family: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s;

    &--hidden {
      display: none;
    }
  }
}
