.header {
  max-width: $row-big-width;
  margin: 0 auto;
  padding: 2.5rem;
  font-size: 16px;

  display: flex;
  align-items: center;
  z-index: 5000;

  @include respond(phone) {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  &__wrap {
    flex: 1;
    display: flex;
    align-items: center;

    @include respond(phone) {
      display: none;
      opacity: 0;
      transform: translateY(-50rem);
      transition: all 0.3s;

      flex-direction: column;
      align-items: flex-start;
      background-color: rgba(#fff, 0.95);
      padding: 2rem;
      width: 40vw;
      height: 80vh;
      gap: 1rem;
      box-shadow: $shadow-light;
    }

    &--respond {
      display: flex;
      opacity: 100;
      transform: translateY(0);
      transition: all 0.3s;
    }
  }

  &__logo-link {
    width: 3rem;
    height: 3.2rem;
    padding: 0;
  }

  &__logo {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  &__contact {
    display: flex;
    align-items: center;
  }

  &__contact-img {
    display: inline-block;
    height: 1.8rem;
    width: 2.2rem;
    margin-right: 0.8rem;
  }

  &__email {
    &:link,
    &:visited {
      color: $text-black;
      text-decoration: underline;
      text-decoration-color: transparent;
      font-size: 1.6rem;

      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      text-decoration-color: $color-primary;
    }
  }
}
