.hero {
  padding-top: 8rem;
  padding-bottom: 10rem;

  &__wrap {
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
      display: block;
    }
  }

  &__left {
    flex: 0 0 45%;

    position: relative;
    z-index: 10;

    @include respond(phone) {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__right {
    flex: 0 0 50%;
    align-self: flex-end;

    position: relative;

    @include respond(phone) {
      display: none;
    }
  }

  &__additional-info {
    margin-top: 8rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: $f-normal;
    line-height: 2.2rem;
    color: #000;
    width: 20rem;
  }

  &__img-wrap {
    width: 45rem;
    margin: 0 auto;
    z-index: 1;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__dots {
    &--1 {
      position: absolute;
      top: 40rem;
      left: 1.5rem;
      z-index: -1;

      @include respond(phone-land) {
        height: 11rem;
        width: auto;
        left: -1.5rem;
        top: 44.5rem;
      }
    }

    &--2 {
      position: absolute;
      top: 10rem;
      right: 1.5rem;
      z-index: -1;

      @include respond(phone-land) {
        height: 32rem;
        width: auto;
        top: 10rem;
        right: -1.2rem;
      }
    }
  }
}
