*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 70.625em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 63.125em) {
    html {
      font-size: 50%; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      padding: 0 5rem; } }

.row-small {
  max-width: 100rem;
  margin: 0 auto; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
  color: #141416; }

.heading-primary {
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 7.8rem;
  letter-spacing: -2.8px;
  color: #000; }

.heading-secondary {
  font-size: 5.4rem;
  font-weight: 400;
  line-height: 6.8rem;
  letter-spacing: -1.8px;
  color: #000; }

.description {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  opacity: 0.5;
  text-align: left; }

.u-text-center {
  text-align: center; }

.u-ml-3half {
  margin-left: 3.5rem; }

.u-mt-2 {
  margin-top: 2rem; }

.u-mt-3 {
  margin-top: 3rem; }

.u-mt-15 {
  margin-top: 15rem; }

.u-mb-5 {
  margin-bottom: 5rem; }

.u-mb-6 {
  margin-bottom: 6rem; }

.u-mb-8 {
  margin-bottom: 8rem; }

.u-mb-10 {
  margin-bottom: 10rem; }

.u-mb-12 {
  margin-bottom: 12rem; }

.nav {
  flex: 1; }
  .nav__list {
    list-style: none;
    margin-left: 8rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 34.375em) {
      .nav__list {
        flex-direction: column;
        align-items: flex-start; } }
  .nav__item {
    margin-right: 3.5rem; }
  .nav__link:link, .nav__link:visited {
    color: #141416;
    text-decoration: none;
    font-size: 1.6rem;
    transition: all 0.3s;
    display: flex;
    align-items: center; }
  .nav__link:hover, .nav__link:active {
    color: #6e4fff; }
  .nav__arrow {
    margin-left: 0.8rem; }
  .nav__button {
    display: none;
    border: none;
    background: transparent;
    z-index: 5000;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem; }
    @media only screen and (max-width: 34.375em) {
      .nav__button {
        display: inline-block; } }
  .nav__icon {
    width: 4rem;
    height: 4rem;
    margin: 0;
    fill: #141416;
    font-family: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s; }
    .nav__icon--hidden {
      display: none; }

.btn:link, .btn:visited {
  background-color: #6e4fff;
  border-radius: 5px;
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  transition: all 0.3s; }

.btn--small {
  padding: 0.5rem 3rem; }

.btn--big {
  padding: 1.5rem 2.5rem; }

.btn:hover, .btn:active {
  background-color: #316aff;
  box-shadow: 0 0.3rem 1rem rgba(20, 20, 22, 0.2); }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: underline;
  text-decoration-color: transparent;
  color: #6e4fff;
  font-weight: 100;
  transition: all 0.3s; }

.btn-text--arrow {
  display: flex;
  align-items: center;
  letter-spacing: 0; }
  .btn-text--arrow-icon {
    margin-left: 1rem; }

.btn-text:hover, .btn-text:active {
  color: #316aff;
  text-decoration-color: #316aff; }

.cta {
  padding: 2rem 2rem 2rem 3rem;
  margin-right: -38rem;
  background-color: #316aff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      margin-right: -30rem; } }
  @media only screen and (max-width: 34.375em) {
    .cta {
      width: 60%;
      margin-right: 0;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      padding: 4rem; } }
  .cta__dropdown:link, .cta__dropdown:visited {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    transition: all 0.3s;
    display: flex;
    align-items: center; }
  .cta__dropdown:hover, .cta__dropdown:active {
    color: #141416; }
  .cta__arrow {
    margin-left: 1.3rem; }
  .cta__map-pin {
    margin-right: 1rem; }

.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2.7rem;
  position: relative; }
  @media only screen and (max-width: 34.375em) {
    .posts {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr; } }
  .posts__big {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    z-index: 10; }
    @media only screen and (max-width: 34.375em) {
      .posts__big {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1; } }
  .posts__small {
    z-index: 10; }
    .posts__small--1 {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1; }
      @media only screen and (max-width: 34.375em) {
        .posts__small--1 {
          grid-column: 1 / span 1;
          grid-row: 2 / span 1; } }
    .posts__small--2 {
      grid-column: 4 / span 1;
      grid-row: 1 / span 1; }
      @media only screen and (max-width: 34.375em) {
        .posts__small--2 {
          grid-column: 2 / span 1;
          grid-row: 2 / span 1; } }
    .posts__small--3 {
      grid-column: 4 / span 1;
      grid-row: 2 / span 1; }
      @media only screen and (max-width: 34.375em) {
        .posts__small--3 {
          grid-column: 1 / span 1;
          grid-row: 3 / span 1; } }
  .posts__img {
    width: 100%; }
  .posts__heading {
    margin-top: 1.5rem;
    font-weight: 400; }
    .posts__heading--big {
      font-size: 2.4rem;
      line-height: 3rem; }
    .posts__heading--small {
      font-size: 1.8rem;
      line-height: 2.2rem; }
  .posts__link:link, .posts__link:visited {
    color: #000;
    text-decoration: none;
    transition: all 0.3s; }
  .posts__link:hover, .posts__link:active {
    color: #6e4fff; }
  .posts__description {
    margin-top: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    line-height: 2.6rem;
    opacity: 0.5;
    text-align: left; }
  .posts__dots {
    position: absolute; }
    .posts__dots--1 {
      left: 0;
      top: 15rem; }
      @media only screen and (max-width: 56.25em) {
        .posts__dots--1 {
          height: 15rem;
          top: 12rem; } }
    .posts__dots--2 {
      left: 18.5rem;
      top: 31rem;
      z-index: 0; }
      @media only screen and (max-width: 56.25em) {
        .posts__dots--2 {
          height: 15rem;
          left: 16rem;
          top: 27rem; } }
  .posts__button {
    width: 100%;
    margin-top: 8rem;
    text-align: center; }

.figures {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3rem;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 70.625em) {
    .figures {
      grid-gap: 2rem; } }
  @media only screen and (max-width: 63.125em) {
    .figures {
      grid-gap: 1rem; } }
  .figures__stat {
    padding: 3.5rem 7rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: left; }
    .figures__stat--1 {
      background-image: url("../images/stat-form-up.svg"); }
    .figures__stat--2 {
      background-image: url("../images/stat-form-down.svg"); }
    .figures__stat--3 {
      background-image: url("../images/stat-form-up.svg"); }
    .figures__stat--4 {
      background-image: url("../images/stat-form-down.svg"); }
  .figures__count {
    font-size: 5.4rem;
    line-height: 6.8rem;
    color: #fff; }
  .figures__description {
    margin-top: 1rem;
    color: #fff;
    font-size: 1.8rem;
    line-height: 2.25rem;
    font-weight: 100; }

.review {
  background-color: #f2f7ff;
  border-radius: 10px;
  padding: 4rem;
  width: 45rem;
  z-index: 10; }
  .review__rating {
    margin-bottom: 1rem; }
  .review__star:not(:last-child) {
    margin-right: 0.5rem; }
  .review__text {
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    opacity: 0.5;
    text-align: left; }
  .review__user {
    margin-top: 2rem;
    display: flex;
    align-items: center; }
  .review__date {
    margin-left: 1rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #000;
    opacity: 0.5; }
  .review__dots {
    position: absolute; }
    .review__dots--1 {
      left: -2rem;
      top: 17rem; }
      @media only screen and (max-width: 56.25em) {
        .review__dots--1 {
          height: 15rem;
          left: -1.5rem;
          top: 18rem; } }
      @media only screen and (max-width: 34.375em) {
        .review__dots--1 {
          height: 15rem;
          left: 6rem;
          top: 18rem; } }
    .review__dots--2 {
      right: 0;
      top: 11rem; }
      @media only screen and (max-width: 56.25em) {
        .review__dots--2 {
          height: 15rem;
          right: 0;
          top: 12rem; } }
      @media only screen and (max-width: 34.375em) {
        .review__dots--2 {
          height: 15rem;
          right: 6rem;
          top: 35rem; } }

.header {
  max-width: 140rem;
  margin: 0 auto;
  padding: 2.5rem;
  font-size: 16px;
  display: flex;
  align-items: center;
  z-index: 5000; }
  @media only screen and (max-width: 34.375em) {
    .header {
      position: fixed;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem; } }
  .header__wrap {
    flex: 1;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 34.375em) {
      .header__wrap {
        display: none;
        opacity: 0;
        transform: translateY(-50rem);
        transition: all 0.3s;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(255, 255, 255, 0.95);
        padding: 2rem;
        width: 40vw;
        height: 80vh;
        gap: 1rem;
        box-shadow: 0 0.3rem 1rem rgba(20, 20, 22, 0.2); } }
    .header__wrap--respond {
      display: flex;
      opacity: 100;
      transform: translateY(0);
      transition: all 0.3s; }
  .header__logo-link {
    width: 3rem;
    height: 3.2rem;
    padding: 0; }
  .header__logo {
    display: inline-block;
    width: 100%;
    height: auto; }
  .header__contact {
    display: flex;
    align-items: center; }
  .header__contact-img {
    display: inline-block;
    height: 1.8rem;
    width: 2.2rem;
    margin-right: 0.8rem; }
  .header__email:link, .header__email:visited {
    color: #141416;
    text-decoration: underline;
    text-decoration-color: transparent;
    font-size: 1.6rem;
    transition: all 0.3s; }
  .header__email:hover, .header__email:active {
    color: #6e4fff;
    text-decoration-color: #6e4fff; }

.hero {
  padding-top: 8rem;
  padding-bottom: 10rem; }
  .hero__wrap {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 34.375em) {
      .hero__wrap {
        display: block; } }
  .hero__left {
    flex: 0 0 45%;
    position: relative;
    z-index: 10; }
    @media only screen and (max-width: 34.375em) {
      .hero__left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .hero__right {
    flex: 0 0 50%;
    align-self: flex-end;
    position: relative; }
    @media only screen and (max-width: 34.375em) {
      .hero__right {
        display: none; } }
  .hero__additional-info {
    margin-top: 8rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: #000;
    width: 20rem; }
  .hero__img-wrap {
    width: 45rem;
    margin: 0 auto;
    z-index: 1; }
  .hero__img {
    width: 100%;
    height: auto; }
  .hero__dots--1 {
    position: absolute;
    top: 40rem;
    left: 1.5rem;
    z-index: -1; }
    @media only screen and (max-width: 56.25em) {
      .hero__dots--1 {
        height: 11rem;
        width: auto;
        left: -1.5rem;
        top: 44.5rem; } }
  .hero__dots--2 {
    position: absolute;
    top: 10rem;
    right: 1.5rem;
    z-index: -1; }
    @media only screen and (max-width: 56.25em) {
      .hero__dots--2 {
        height: 32rem;
        width: auto;
        top: 10rem;
        right: -1.2rem; } }

.blog {
  background-color: #faf2f2;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .blog__heading {
    width: 45rem; }

.stats {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .stats__heading {
    text-align: center; }
  .stats__wrap {
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .stats__wrap {
        flex-direction: column;
        gap: 6rem; } }
  .stats__text {
    flex: 0 0 40%;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 70.625em) {
      .stats__text {
        margin-right: 8rem; } }
    @media only screen and (max-width: 63.125em) {
      .stats__text {
        margin-right: 2.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .stats__text {
        gap: 2rem; } }
  .stats__paragraph {
    font-size: 2.4rem;
    line-height: 3rem; }

.testimonials {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #f4f4f4; }
  .testimonials__heading {
    text-align: center; }
  .testimonials__wrap {
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: relative;
    align-items: flex-start; }
    @media only screen and (max-width: 34.375em) {
      .testimonials__wrap {
        flex-direction: column;
        align-items: center;
        gap: 0; } }
